@model GetCargoCustomerByIdDto

@{
    ViewData["Title"] = "UserAddressInfo";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">

                    <h3>Kullanıcı Adres ve İletişim Bilgisi</h3>
                    <div class="alert alert-primary">Kullanıcı Id : @Model.CargoCustomerId</div>
                    <div class="alert alert-warning">Kullanıcı Adı Soyadı : @Model.Name @Model.Surname</div>
                    <div class="alert alert-success">Kullanıcı Email Adresi : @Model.Email</div>
                    <div class="alert alert-info">Telefon : @Model.Phone</div>
                    <div class="alert alert-secondary">İlçe - Şehir : @Model.District @Model.City</div>
                    <div class="alert alert-dark">Adres : @Model.Address</div>

                </div>
            </div>
        </div>
    </div>
</section>